* {
    font-family: 'Oswald', sans-serif;
}

body {
    display: flex;
    align-content: row;
    justify-content: center;
    background-color: #e6e6e6;
}

.shoppingcart {
    width: 100%;
    background-image: url(images/chalkboard.jpg);
    background-size: cover;
}

.category {
    width: 100%;
}

header {
    background-color: #242D3E;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

h1 {
    color: white;
    font-size: 60px;
    margin: 0 auto;
    font-family: 'Rock Salt', cursive;
}

.shoppingcart h1 {
    color: white;
    text-align: center;
}

.button {
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    padding: 10px;
    border-style: none;
    color: #e6e6e6;
    background-color: transparent;
    padding: 20px 10px 20px 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.items {
    width: 200px;
    height: 275px;
    background-color: #e6e6e6;
    border: 2px solid gray;
    text-align: center;
    background-color: white;
    background-color: white;
    -moz-transition: background-color 2s;
    -webkit-transition: background-color 2s;
    -o-transition: background-color 2s;
    transition: background-color 2s;
}

.items:hover {
    background-color: black;
    color: white;
}

#candy,
#cereal,
#juice {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 900px;
    width: 60%;
    padding: 20px 150px;
}

.hide {
    display: none !important;
}

ul {
    width: 70%;
    height: 800px;
    text-align: center;
    margin: 50px;
}

li {
    color: #e6e6e6;
    font-size: 40px;
    list-style: none;
    font-family: 'Fjalla One', sans-serif;
    padding: 20px 0;
}
